<a href="https://colab.research.google.com/github/Cahayabb209/Cahaya-Elisabet-Butarbutar-J0403231022-/blob/main/Function_in_Py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Function

In [ ]:
# define function
def fun():
  print("My fun function")
# call function
fun()

My fun function

Parameters & Arguments

In [ ]:
# Here a,b are the parameters
def sum(a,b):
 print(a+b)

# Here the values 1,2 are arguments
sum(1,2)

3

Arguments - Positional

In [ ]:
def greet(name, greeting):
 print(f"{greeting}, {name}!")
greet("Alice", "Hello") # "Hello, Alice!"

Hello, Alice!

In [ ]:
def greet(name, greeting):
 print(f"{greeting}, {name}!")
greet("Cahaya", "Hello") # "Hello, Cahaya!"

Hello, Cahaya!

Arguments - Keyword

In [ ]:
def greet(name, greeting):
 print(f"{greeting}, {name}!")
greet(greeting="Hi", name="Bob") # "Hi, Bob!"

Hi, Bob!

In [ ]:
def greet(name, greeting):
 print(f"{greeting}, {name}!")
greet(greeting="Hi", name="Cay") # "Hi, Cay!

Hi, Cay!

Arguments - Default

In [ ]:
def greet(name, greeting="Hello"):
 print(f"{greeting}, {name}!")
greet("Eve") # "Hello, Eve!"

Hello, Eve!

In [ ]:
def greet(name, greeting="Hello"):
 print(f"{greeting}, {name}!")
greet("Cahaya") # "Hello, Cahaya!"

Hello, Cahaya!

Arguments - Arbitrary - *args

In [ ]:
def print_args(*args):
 for arg in args:
  print(arg)
print_args(1, "apple", True) # 1\n"apple"\nTrue

1
apple
True

Arguments - Arbitrary - *kwargs

In [ ]:
def print_kwargs(**kwargs):
 for key, value in kwargs.items():
  print(f"{key}: {value}")
print_kwargs(name="Alice", age=30) # "name: Alice"\n"age: 30"

name: Alice
age: 30

Arguments - Passing Lists/Dictionaries/etc

In [ ]:
def print_list(numbers):
 for num in numbers:
  print(num)
print_list([1, 2, 3, 4]) # 1\n2\n3\n4
def print_dict(my_dict):
 for key, value in my_dict.items():
  print(f"{key}: {value}")
print_dict({"name": "Bob", "age": 25}) # Output: "name: Bob"\n"age: 25"

1
2
3
4
name: Bob
age: 25

Different argument combinations

In [ ]:
def f(a, *b, c=6, **d): # compare it with def f(a, b=6, *c, **d)
 print(f"a: {a}")
 print(f"b: {b}")
 print(f"c: {c}")
 print(f"d: {d}")
f(1, 2, 3, x=4, y=5) # Default used
f(1, 2, 3, c=7, x=4, y=5) # Override default

a: 1
b: (2, 3)
c: 6
d: {'x': 4, 'y': 5}
a: 1
b: (2, 3)
c: 7
d: {'x': 4, 'y': 5}

Return Statements - Examples

In [ ]:
def add_numbers(a, b):
 """This function adds two numbers and
returns the result."""
 result = a + b
 return result
# Call the function with a return value
sum_result = add_numbers(5, 3)
print(f"The sum is: {sum_result}")
def greet(name):
 """This function greets the person passed in as a
parameter."""
 print(f"Hello, {name}!")
# Call the function without a return value
greet("Alice")

The sum is: 8
Hello, Alice!

It is executed at runtime

In [ ]:

def divide_by_zero(a):
    try:
        result = a * 2 / (a - a)
    except ZeroDivisionError:
        print("Error: Division by zero")
        return None
    return result

print("After function creation")
result = divide_by_zero(5)  # comment this and see the differences
print("After function is called/executed")

After function creation
Error: Division by zero
After function is called/executed

In [ ]:
if 'a' == 'a':
 def greet():
  return "Hello, World!"
else:
 def greet():
  return "Hi there!"
 def say_hello():
  print("Hello, World!")
  greeting = say_hello # Assigning the function to a different name
  greeting() # Calls the function
def say_hello():
 print("Hello, Python!")
say_hello() # Calls the updated function

Hello, Python!

It is executed at runtime

SyntaxError: ignored

It is first class object

In [ ]:
def greet(name):
 return f"Hello, {name}!"
# Assign the function to a variable
my_function = greet
# Call the function using the variable
result = my_function("Alice")
print(result) # Output: Hello, Alice!

Hello, Alice!

It is first class object - another examples

In [ ]:
def apply(func, x):
 return func(x)
def square(x):
 return x * x
result = apply(square, 5)
print(result) # Output: 25

25

It is first class object - another examples

In [ ]:
def get_multiplier(factor):
 def multiplier(x):
  return x * factor
 return multiplier
double = get_multiplier(2)
triple = get_multiplier(3)
print(double(5)) # Output: 10
print(triple(5)) # Output: 15

10
15

Scope - Examples

In [ ]:
def my_function():
 x = 10 # x is in the local scope
 print(x)
def outer_function():
 y = 20 # y is in the enclosing scope
 def inner_function():
  print(y) # inner_function can access y from the enclosing scope
z = 30 # z is in the global scope
def another_function():
 print(z) # another_function can access z from the global scope
print(len("Hello, World!")) # len is a built-in function
# Global keyword
# Global keyword is used if we want to modify a global variable from within a function.
# It indicates that we want to work with the global variable, rather than creating a new local variable with the same name.
global_var = 10  # Global variable

13

Scope - Global keyword

In [ ]:
global_var = 10 # Global variable
def modify_global():
 global global_var # Use the global keyword to MODIFY the global variable
 global_var = 20
modify_global()
print(global_var) # This will print the modified global variable, which is 20

20

Pass by Object Reference

In [ ]:
def modify_list(my_list):
 my_list.append(4) # Modifying the list inside the function
my_list = [1, 2, 3]
modify_list(my_list)
print(my_list) # Output: [1, 2, 3, 4]
def reassign_list(my_list):
 my_list = [4, 5, 6] # Reassigning the list to a new object
my_list = [1, 2, 3]
reassign_list(my_list)
print(my_list) # Output: [1, 2, 3]

[1, 2, 3, 4]
[1, 2, 3]

Pass by Object Reference

In [ ]:
def modify_integer(x):
 x += 1 # Modifying the integer inside the function
my_integer = 5
modify_integer(my_integer)
print(my_integer) # Output: 5

5

Function Overloading

In [ ]:
def product(a, b):
 print(a * b)
def product(a, b, c):
 print(a * b * c)
# product(4, 5) # Uncommenting this shows an error

product(4, 5, 5) # This line will call the last function
# Try using *args to solve that problem

100

Function Recursion

In [ ]:
def factorial(n):
 if n == 0:
  return 1
 else:
  return n * factorial(n - 1)
result = factorial(5)
print(result) # Output: 120

120

Error
Handling -
Examples

In [ ]:
def divide(x, y):
 try:
  result = x / y
 except ZeroDivisionError:
  print("Error: Division by zero")
  return None
 except TypeError:
  print("Error: Invalid data types")
  return None
 except Exception as e:
  print(f"An unexpected error occurred: {e}")
  return None
 else:
  return result
 finally:
  print("Division operation complete")
  # Example usages
print(divide(10, 2)) # Output: 5.0
print(divide(10, 0)) # Output: Error: Division by zero\nDivision operation complete\nNone
print(divide("10", 0)) # Output: Error: Invalid data types\nDivision operation complete\nNone

Division operation complete
5.0
Error: Division by zero
Division operation complete
None
Error: Invalid data types
Division operation complete
None

Docstrings -
Examples

In [ ]:
def add(a, b):
 """
 This function adds two numbers together.

 Args:
 a (int): The first number to be added.
 b (int): The second number to be added.

 Returns:
 int: The sum of the two input numbers.

 Example:
 >>> add(3, 4)
 7
 """
 return a + b
help(add) # Displays the docstring

Help on function add in module __main__:

add(a, b)
    This function adds two numbers together.

    Args:
    a (int): The first number to be added.
    b (int): The second number to be added.

    Returns:
    int: The sum of the two input numbers.

    Example:
    >>> add(3, 4)
    7

Tugas membuat fungsi Python untuk mengkonversi suhu dengan parameter suhu dan skala

In [ ]:
def convert_temperature(temperature, scale):
    """
    Convert a temperature from one scale to another.

    :param temperature: The temperature value to be converted.
    :type temperature: float
    :param scale: The temperature scale ('C' for Celsius, 'F' for Fahrenheit).
    :type scale: str
    :return: The converted temperature.
    :rtype: float
    :raises ValueError: If an invalid scale is provided.
    """
    if scale == 'C':
        converted_temperature = (temperature - 32) * 5/9
    elif scale == 'F':
        converted_temperature = (temperature * 9/5) + 32
    else:
        raise ValueError("Invalid scale. Please use 'C' for Celsius or 'F' for Fahrenheit.")

    return converted_temperature
# Sample usage:
celsius_temperature = convert_temperature(32, 'F')
print(f"32 degrees Fahrenheit is equal to {celsius_temperature:.2f} degrees Celsius.")

# Create a calculator-like function

32 degrees Fahrenheit is equal to 89.60 degrees Celsius.

 Tugas membuat fungsi seperti kalkulator yang menerima sejumlah argumen variabel dan parameter operator untuk melakukan operasi aritmatika

In [ ]:
def calculate(operation, *args):
    """
    Perform arithmetic operations on a variable number of arguments.

    :param operation: The arithmetic operation to be performed ('+', '-', '*'
    applied.
    :type args: float
    :return: The result of the arithmetic operation.
    :rtype: float
    :raises ZeroDivisionError: If division by zero occurs.
    :raises ValueError: If an invalid operator is provided.
    """
    if not args:
        raise ValueError("No arguments provided for the calculation.")

    result = args[0]

    if operation == '+':
        for num in args[1:]:
            result += num
    elif operation == '-':
        for num in args[1:]:
            result -= num
    elif operation == '*':
        for num in args[1:]:
            result *= num
    elif operation == '/':
        for num in args[1:]:
            if num == 0:
                raise ZeroDivisionError("Division by zero is not allowed.")
            result /= num
    else:
        raise ValueError("Invalid operator. Please use '+', '-', '*', or '/'.")

    return result

# Sample usage:
result = calculate('+', 5, 3, 2)
print(f"5 + 3 + 2 = {result}")

result = calculate('*', 2, 4, 6)
print(f"2 * 4 * 6 = {result}")

5 + 3 + 2 = 10
2 * 4 * 6 = 48